:root {
  --whiteColor: hsl(0, 0%, 100%);
  --lightgrayColor: hsl(212, 45%, 89%);
  --grayishblueColor: hsl(220, 15%, 55%);
  --darkblueColor: hsl(218, 44%, 22%);
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  font-family: 'Outfit', sans-serif;
  text-align: center;
  background-color: var(--lightgrayColor);
}
.card {
  width: 308px;
  background-color: var(--whiteColor);
  padding: 15px;
  border-radius: 15px;
}
.card img {
  max-width: 100%;
  border-radius: 10px;
}
.card div {
  padding: 25px;
}
.card div h4 {
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 20px;
  color: var(--darkblueColor);
}
.card div p {
  font-weight: 400;
  font-size: 15px;
  color: var(--grayishblueColor);
}
.attribution {
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
